.badge {
    padding: 5px 10px !important;
    text-align: center !important;
    border-radius: 6px !important;
}

.badge-blue {
    color: white !important;
    background-color: var(--badge-blue) !important;
}

.badge-green {
    color: white !important;
    background-color: var(--badge-green) !important;
}

.badge-red {
    color: white !important;
    background-color: var(--badge-red) !important;
}

.badge-blue-light {
    color: var(--badge-blue) !important;
    background-color: var(--badge-blue-light) !important;
}

.badge-green-light {
    color: var(--badge-green) !important;
    background-color: var(--badge-green-light) !important;
}

.badge-red-light {
    color: var(--badge-red) !important;
    background-color: var(--badge-red-light) !important;
}

.badge-light {
    color: var(--badge-light-color) !important;
    background-color: var(--badge-light) !important;
}