/* ------------------- Table ---------------------- */
/* Small Table */
.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table-sm {
    border-top: 1px solid var(--border) !important;
    border-bottom: 1px solid var(--border) !important;
}

.custom-table-sm thead tr th {
    text-align: left !important;
    vertical-align: middle !important;
}

.custom-table-sm th {
    font-size: 13px !important;
}

.custom-table-sm tbody tr:last-child {
    border-bottom: 1px solid var(--card-fill) !important;
}

.custom-table-sm tbody tr td {
    background: var(--card-fill) !important;
    color: var(--primary-color-text) !important;
    padding: 8px 5px !important;
}

.custom-table-sm th, td {
    text-align: left !important; 
    vertical-align: middle !important;  
}

/* Large Table */
.custom-table-lg th {
    font-size: 13px !important;
    border-bottom: 1px solid var(--border) !important;
    padding: 10px 0px !important;
}

.custom-table-lg td {
    vertical-align: middle;
}

.custom-table-lg th, td {
    text-align: center;
    vertical-align: middle;
}

.custom-table thead th {
    color: var(--primary-color-text) !important;
    background: #FCFCFC !important;
}

.custom-table-sm thead th {
    padding: 8px 8px !important
}

.custom-table-lg thead th {
    padding: 10px 20px !important
}

body.dark .custom-table thead th {
    background: #303F4F !important;
}


/* ------------------- Table Card ---------------------- */
/* Small Card */
.custom-table-card-sm {
    padding: 25px !important;
}

.custom-table-card-sm .card-top {
    font-weight: 500;
    margin-bottom: 25px !important;
}

/* Large Card */
.custom-table-card-lg .card-top {
    font-weight: 500;
    padding: 15px 15px 15px 15px !important;
}

.custom-table-card-lg .card-top button {
    padding: 8px 15px 8px 15px !important;
    border-radius: 100px !important;
    font-weight: 500 !important;
    background: var(--profile-fill-hover) !important;
    border: 0 !important;
    margin-bottom: 10px !important;
}

.custom-table-card-lg .card-top button:hover {
    background-color: #3f78ff !important;
}

