:root {
    /* Main */
    --body-color: #F8F9FA !important;
    --border: #E7EAEE !important;

    /* Sidebar */
    --sidebar-border: #BEC8D0 !important;
    --sidebar-text: #5B6B79 !important;

    /* Profile */
    --profile-fill: #F2F5F7 !important;
    --profile-fill-hover: #4680FF !important;

    /* Text */
    --primary-color-text: #131920 !important;

    /* Link */
    --active-link: #E4EDFB !important;
    --active-link-hover: #E7EBED !important;
    --active-link-text: #4480FF !important;

    /* Icon */
    --icon-color: #5B6B79 !important;
    --icon-hover: #F3F5F7 !important;

    /* Card */
    --card-fill: #FFFFFF !important;

    /* Input */
    --input-color: #FFFFFF !important;
    --input-text-color: #BEC8D0 !important;
    --input-border: #BEC8D0 !important;
    --checkbox-label: #585C5E !important;

    /* Badge */
    --badge-blue: #4680FF !important;
    --badge-green: #2CA87F !important;
    --badge-red: #DC2625 !important;

    --badge-blue-light: #E4ECFF !important;
    --badge-green-light: #E3F2EB !important;
    --badge-red-light: #FBE1DF !important;

    --badge-light: #E5F7F9 !important;
    --badge-light-color: #3EC9D6 !important;

    /* Alert */
    --alert-blue-text: #2E63FF !important;
    --alert-red-text: #CE1618 !important;
    --alert-green-text: #1A8D62 !important;

    --alert-blue: #DBE5FF !important;
    --alert-red: #F9D7D5 !important;
    --alert-green: #ECF6F2 !important;
    
    --alert-blue-border: #BED0FF !important;
    --alert-red-border: #F4B6B3 !important;
    --alert-green-border: #DBEEE6 !important;
}

body.dark {
    /* Main */
    --body-color: #131920 !important;
    --border: #303F4F !important;

    /* Sidebar */
    --sidebar-border: #242D39 !important;
    --sidebar-text: #898D90 !important;

    /* Profile */
    --profile-fill: #1B232D !important;
    --profile-fill-hover: #4680FF !important;

    /* Text */
    --primary-color-text: #BFBFBF !important;

    /* Link */
    --active-link: #182336 !important;
    --active-link-hover: #192129 !important;
    --active-link-text: #4480FF !important;

    /* Icon */
    --icon-color: #5B6B79 !important;
    --icon-hover: #19212A !important;

    /* Card */
    --card-fill: #1B232D !important;

    /* Input */
    --input-color: #253240 !important;
    --input-text-color: #BEC8D0 !important;
    --input-type: #BFBFBF !important;
    --input-border: #303F4F !important;
    --checkbox-label: #748792 !important;

    /* Badge */
    --badge-blue: #4680FF !important;
    --badge-green: #2CA87F !important;
    --badge-red: #DC2625 !important;

    --badge-blue-light: #23314C !important;
    --badge-green-light: #213738 !important;
    --badge-red-light: #3A262C !important;

    --badge-light: #233C46 !important;
    --badge-light-color: #3EC9D6 !important;
}